@charset "UTF-8";

    * {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar {
            display: none;
        }
        
        img {
            width: 100vw;
            height: auto;
        }

        a {
            display: block;
            background-color: darkred;
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 20px;;
        }

        a:hover {
            background-color: rgb(192, 0, 0);
            transition: background-color 0.3s;
        }