@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: url(../imagens/fundos/torsten-dederichs-zyUztInvLQ4-unsplash.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 265px;
    height: 471px;
    border: 1px solid black;
}

#redes-sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    margin-top: 16px;
    margin-left: 50px;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid rgba(129, 129, 129, 0.11);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: box-shadow 0.2s, border 0.1s;
}
